.content-dashboard {
    justify-content: center;
}

.card-data {
    margin: auto;
    margin: 10px;
    background-color: rgb(35, 13, 84);
    color: aliceblue;
    font-size: 15px;
    text-align: center;
    justify-content: center !important;
    border-radius: 10px;
    margin-top: 12px;
}

#txt {
    display: flex;
    margin: auto;
    color: aliceblue;
    margin-top: 10px;
    font-size: 17px;
    margin-bottom: 5px;
}

#dashboard-page {
    display: flex;
    margin: auto;
    color: rgb(35, 13, 84);
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
}