#plot-av-txt {
    display: flex;
    margin: auto;
    color: rgb(35, 13, 84);
    font-size: 17px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

.mapimg {
    display: flex;
    margin: auto;
    margin-top: 60px;
}

#site-btn {
    display: flex;
    margin: auto;
    background-color: rgb(35, 13, 84);
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
    color: aliceblue;
}